:root {
    --grayish_blue: hsl(237, 18%, 59%); 
    --soft_red: hsl(345, 95%, 68%); 
    --white: hsl(0, 0%, 100%); 
    --dark_desaturated_blue: hsl(236, 21%, 26%); 
    --very-dark_blue: hsl(235, 16%, 14%); 
    --very_dark_blue2: hsl(234, 17%, 12%); 
}

* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}

body {
    width: 100vw; 
    height: 100vh; 
    background-color: var(--very_dark_blue2);
    display: flex; 
    font-family: 'Red Hat Text', sans-serif;
}

p {
    font-weight: 700; 
    letter-spacing: 1.5px;
    color: var(--grayish_blue); 
    margin-top: 40px; 
}

.header{
    color: white;
    text-transform: uppercase;
    font-size: 22px; 
    line-height: 1.5; 
    letter-spacing: 3px; 
    margin-bottom: 40px;
    text-align: center;
    font-weight: 700;   
}

.counter{
    display: flex; 
    flex-direction: row;
    gap: 20px;
    text-align: center;  
}

.counter_container{
    display: flex; 
    justify-content: center;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 200px;    
}

.flip_card {
    font-size: 42px; 
    display: flex; 
    flex-direction: column; 
    border-radius: 5px; 
    position: relative; 
}

.top, .top-flip {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px; 
    border-bottom: 0.5px solid rgba(0,0,0, 0.7);
    background-color: rgb(48,50,78); 
}

.top, .bottom {
    height: 52px; 
    width: 60px; 
    padding: 24px 0px;
    color: var(--soft_red); 
    overflow: hidden; 
    text-align: center; 
}

.bottom, .bottom-flip {
    display: flex; 
    justify-content: center;
    align-items: flex-end; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; 
    background-color: var(--dark_desaturated_blue); 
}

.title {
    margin-top: 1.2rem; 
    font-size: 0.8rem; 
}

.footer {
    position: absolute; 
    bottom: 0;
    width: 100%;
}

.footer img{
    width: 200%;
    margin-left: -100px; 
}

.icons {
   position: absolute; 
   bottom: 25%; 
   left: 35%; 
   display: flex;
   gap: 30px;  
}

svg {
    width:24px; 
    height: 24px; 
}

svg:hover{
    fill: red;  
}